/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000000;
    color: #ffff;
    position: sticky;
    top: 0;
    z-index: 10;
    
  }
  
  .navbar-left a {
    font-weight: 600;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
  }
  
  .navbar-right ul {
    display: flex;
    gap: 5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-right a{
    text-decoration: none;
    color: inherit;
    font-weight: 900;
  }
  
